
<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://akamai.sscdn.co/uploadfile/letras/playlists/7/6/6/0/766046eb2cc94d19b9fc29123e453868.jpg"
    alt=""
    height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova Temporada de Breaking Bad</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      A netflix acaba de anuncioar a continuação da tão afamada seríe Breaking Bad.
      <br/>cliclando no link fixado no texto!
      </a>
    </p>
  </div>
</div>
